.form {
  padding: 0rem 1rem;
}

.form h2 {
  text-align: center;
  padding: 1rem;
  background-color: #757575;
  color: white;
}

.control {
  margin-bottom: 0.5rem;
  margin: 1rem 2rem;
}

.control input {
  padding: 1rem;
}

.actions {
  margin: 2rem;
  text-align: center;
}

.actions button {
  background-color: #0e8994;
  width: 100%;
  height: 3rem;
}

.actions button:hover,
.actions button:active {
  background-color: #0da8b6;
  border-color: #0da8b6;
}
